<div class="fr-container">

    <h1>Mes Forets</h1>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
        @for(foret of foretCards;  track foret.id) {
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-6 fr-mb-6v">
                <dsfr-card
                    [imagePath]="foret.imgUrl"
                    [tags]="foret.tags"
                    [heading]="foret.name"
                    [description]="'<b>' + foret.area + ' ha</b><br>'
                                + foret.parcels.length + ' parcelles <br>'
                                + 'Mis à jour le ' + foret.updatedAt
                                "
                    [disabled]="false"
                    [enlargeLink]="false"
                    [hasFooter]="true"
                    [horizontal]="true"
                >
                    <dsfr-buttons-group footer inline="always">
                        <dsfr-button label="Voir le détail"></dsfr-button>
                        <dsfr-button label="?" variant="secondary"></dsfr-button>
                    </dsfr-buttons-group>
                </dsfr-card>
            </div>
        }

    </div>

    

</div>
