<div class="fr-container fr-mt-6v">

  <h1>Mes Forets</h1>

  <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">

    @for(foret of foretCards; track foret.id) {
    <div class="fr-col-12 fr-col-md-6 fr-col-lg-6 fr-mb-6v">
      <dsfr-card [imagePath]="foret.imagePath" [tags]="foret.tags" [heading]="foret.heading"
        [description]="foret.description" [enlargeLink]="foret.enlargeLink" [hasFooter]="foret.hasFooter"
        [horizontal]="foret.horizontal">
        <dsfr-buttons-group footer inline="always">
          <dsfr-button label="Voir le détail"></dsfr-button>
          <dsfr-button label="?" variant="secondary"></dsfr-button>
        </dsfr-buttons-group>
      </dsfr-card>
    </div>
    }

  </div>

</div>