<dsfr-header [beta]="true" [logoLink]="'/'" [logoTooltipMessage]="logoTooltipMessage" [serviceTitle]="serviceTitle"
  [serviceTagline]="serviceTagline" [operatorImagePath]="operatorImagePath" [menu]="menuHeader"
  [headerToolsLinks]="headerToolsLinks" [searchBar]="false"></dsfr-header>

<dsfr-notice [closable]="false">
  Vous êtes sur l'application FOREG, sur une adresse certifié par l'IGN.
  Ne communiquez pas ce lien temporaire.
  Cette adresse n'a pas vocation à perdurer puisque le service sera déplacé vers beta.gouv.fr.
</dsfr-notice>