<dsfr-header [beta]="true" [logoLink]="'/'" [logoTooltipMessage]="logoTooltipMessage" [serviceTitle]="serviceTitle"
  [serviceTagline]="serviceTagline" [operatorImagePath]="operatorImagePath" [menu]="menuHeader"
  [headerToolsLinks]="headerToolsLinks" [searchBar]="false"></dsfr-header>
  <dsfr-notice
  [heading]="`Malheureusement, l’expérimentation FOREG prend fin, et le service ne sera plus maintenu. Nous vous remercions pour l’intérêt que vous avez montré pour le produit, et espérons bientôt pouvoir vous proposer une solution.`"
  [closeable]="false"
  [noIcon]="false"
  [icon]="''"
  [description]="''"
  [type]="'alert'"
  
>
</dsfr-notice>
