@if (thematic) {

  <h3 class="fr-h6">{{ thematic.title }}</h3>

  @if (noFeatures) {
    @if(thematic.name == 'biodiversite') {
      <p>Pour le périmètre saisi, aucun élément n'a été identifié parmi ceux intégrés à l'outil FOREG pour la thématique biodiversité.</p>
    } @else {
      <p>Pour le périmètre saisi, aucun élément n'a été identifié parmi ceux intégrés à l'outil FOREG pour la thématique {{thematic.name}}.</p>
    }
    <p>La version actuelle de FOREG ne permet pas de déterminer si le périmètre saisi est concerné par d'autres réglementations sur cette thématique.</p>
  }

  @for (layer of thematic.layers; track layer; let last=$last) {
    @if(layer.features.length && last) {
      <app-layer-fiche-view [layer]="layer" [displaySituationMap]="layer.displaySituationMap"></app-layer-fiche-view>
    } @else if(layer.features.length) {
      <app-layer-fiche-view [layer]="layer" [displaySituationMap]="layer.displaySituationMap" class="breakafter"></app-layer-fiche-view>
    }
  }

}