<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-lg-6">

    <form *ngIf="form" [formGroup]="form">
      <dsfr-form-input formControlName="needle" [label]="'Saisissez une commune, un lieu-dit'"
        [hint]="'Commune, lieu-dit, adresse, …'" [required]="false" [type]="'search'"
        buttonLabel="Rechercher"></dsfr-form-input>
    </form>


  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="btn-group">
      <span>Ou</span>
      <div>
        <label class="fr-label" for="load-file">Chargez une couche SIG</label>
        <span class="fr-hint-text">Télécharger le périmètre au format QGIS.</span>
        <dsfr-button id="load-file" label="Charger une couche SIG" icon="fr-icon-file-add-fill" iconPosition="right"
          variant="secondary"></dsfr-button>
      </div>
      <dsfr-button label="Valider" variant="primary"></dsfr-button>
    </div>
  </div>
</div>