<dsfr-buttons-group inline="always" iconPosition="left" class="step-btn">

  <ng-container *ngIf="step !== 0">
    <dsfr-button [label]="previousButtonLabel" variant="secondary" icon="fr-icon-arrow-left-fill"
      (click)="emitPrevious()" [disabled]="step < 1"></dsfr-button>
  </ng-container>

  <ng-container *ngIf="step !== 2">
    <dsfr-button [label]="nextButtonLabel" icon="fr-icon-arrow-right-fill" (click)="emitNext()"
      [disabled]="step > 2"></dsfr-button>
  </ng-container>

  <ng-container *ngIf="step == 1">
    <a class="avis-btn" href="https://jedonnemonavis.numerique.gouv.fr/Demarches/3598?button=3885" target='_blank' title="Je donne mon avis - nouvelle fenêtre">
      <img src="https://jedonnemonavis.numerique.gouv.fr/static/bouton-bleu-clair.svg" alt="Je donne mon avis" />
    </a>
  </ng-container>

</dsfr-buttons-group>