<div class="fr-container fr-mt-6v">
  @for(theme of thematicList; track theme.name) {
    @if(theme.name != "synthese") {
      <h3>{{theme.label}}</h3>
      <p>Sur cette thématique, l'outil Foreg interroge <a href='https://geoservices.ign.fr/services-geoplateforme-diffusion' target=_blank>les flux WFS de la Géoplateforme</a> suivants :</p>
      <ul>
      @for(layer of theme.layers; track layer.id) {
        
          <li>{{layer.title}} ({{layer.technicalName}})</li>
      }
      </ul>
    }
  <br>
  }
</div>