@if (layer && layer.features && layer.features.length > 0) {

<h4 class="fr-h6">{{ layer.title }}</h4>

@if (displaySituationMap) {
<app-map-viewer [id]="map" [situationMap]="displaySituationMap"></app-map-viewer>
}

@if(layer.id != 'troncons_hydrographiques') {
  <ul>
    @for (feature of layer.features; track feature) {
    <li>
      @if (feature.link !== "") {
      <a [href]="feature.link" target="_blank">{{ feature.name }}</a>
      } @else {
      {{ feature.name }}
      }
    </li>
    }
  </ul>
}

<app-reglementation-view [layerReference]="layer.title"></app-reglementation-view>

}