<div class="fr-container info-background fr-mt-8v fr-mb-4v fr-pr-16v fr-pl-16v fr-pt-12v fr-pb-12v">

  <!-- first ligne - logo + title -->
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6">
      <h1>Découvrez Foreg</h1>
      <p>Visualiser les réglementations en forêt</p>
      <p>
        Faciliter la visualisation des règlementations et enjeux applicables aux espaces forestiers
      </p>
      <dsfr-buttons-group inline="always" iconPosition="left">
        <dsfr-button label="Découvrir" variant="secondary" icon="fr-icon-info-fill" iconPosition="left"></dsfr-button>
        <dsfr-button label="Créer mon compte" icon="fr-icon-arrow-right-fill" iconPosition="left"></dsfr-button>
      </dsfr-buttons-group>
    </div>
    <div class="fr-col-12 fr-col-lg-6">
      <div class="img-box">
        <img src="/img/foreg-bleu.png" height="200" alt="">
      </div>
    </div>
  </div>

</div>

<div class="fr-container fr-mt-4v fr-mb-4v fr-pt-8v fr-pb-8v">

  <app-foret-stepper [step]="step"></app-foret-stepper>

  <app-foret-search-form (search)="nextStep()" [class.hidden]="step > 1"></app-foret-search-form>
  
  <app-thematic-select [class.hidden]="step > 2"></app-thematic-select>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-6 map-container" [class.fr-col-lg-12]="step === 1" [class.hidden]="step < 1">
      <app-map></app-map>
    </div>

    <div class="fr-col-12 fr-col-lg-6">
      <app-thematic-tabs *ngIf="step > 1"></app-thematic-tabs>
    </div>

  </div>

  <div class="fr-mt-4v">
    <app-next-step [step]="step" (previous)="previousStep()" (next)="nextStep()"></app-next-step>
  </div>

</div>

<div class="fr-container fr-mt-4v fr-mb-4v fr-pt-8v fr-pb-8v">

  <h2>Trouver la réglementation sur votre forêt et préserver la biodiversité</h2>
  <ul>
    <li>Nos activités en forêt on un impact sur l’environnement. Des règlementations ont été édictées pour
      préserver les enjeux liés à cet impact.</li>
    <li>La valorisation de données spatiales permettrait de mieux identifier quelle règlementation s’applique où.
      Cela nécessiterait de disposer de couches de données de référence et de pouvoir les interroger.</li>
    <li>Nos activités en forêt on un impact sur l’environnement. Des règlementations ont été édictées pour
      préserver les enjeux liés à cet impact.</li>
    <li>La valorisation de données spatiales permettrait de mieux identifier quelle règlementation s’applique où.
      Cela nécessiterait de disposer de couches de données de référence et de pouvoir les interroger.</li>
  </ul>

</div>