@if (layer && layer.features && layer.features.length > 0) {

<h4 class="fr-h6">{{ layer.title }}</h4>
@if (layer.flatview){
  <div [id]="map" class="map"></div> <!--Id générer par service map -> generateCloneId() -->
  <p>TESING</p>
  <!-- <app-map-viewer></app-map-viewer> -->
}
<ul>
  @for (feature of layer.features; track feature) {
  <li>
    @if (layer.link !== "") {
      <a [href]="feature.link" target="_blank">{{ feature.name }}</a>
    } @else {
    {{ feature.name }}
    }
  </li>

  }
</ul>

<app-reglementation-view [reglementation]="layer.title"></app-reglementation-view>

}