@if (layer && layer.features && layer.features.length > 0) {

<h4 class="fr-h6">{{ layer.title }}</h4>
<ul>
  @for (feature of layer.features; track feature) {

  <li>
    @if (layer.link !== "") {
      @if (flatview == true){
        <div id="map-container-{{ feature.id }}" ></div> <!--Id générer par service map -> generateCloneId() -->
        <p>TESING</p>
        <!-- <app-map-viewer></app-map-viewer> -->
      }
      <a [href]="feature.link" target="_blank">{{ feature.name }}</a>
    } @else {
    {{ feature.name }}
    }
  </li>

  }
</ul>

<app-reglementation-view [reglementation]="layer.title"></app-reglementation-view>

}