@if (contacts) {
  <p><b>Contacts :</b></p>
  @for(contact of contacts; track $index){
    <p><b>{{contact.name}}</b></p>
  <ul>
    <li>Adresse : {{contact.address}}</li>
    <li>Site internet : <a href = {{contact.website}} target = '_blank'>{{contact.website}}</a></li>
    @if(contact.mail) {
      <li>Courriel : <a href = {{contact.mail}} target = '_blank'>{{contact.mail}}</a></li>
    }
    @if(contact.contactForm) {
      <li>Formulaire de contact : <a href = {{contact.contactForm}} target = '_blank'>{{contact.contactForm}}</a></li>
    }
    <li>Téléphone : {{contact.telephone}}</li>
  </ul>
  }
} 

