<h3 class="fr-h6">Votre forêt se trouve sur les sites suivants</h3>

@if(oiseaux.length > 0){
<p>Site Natura 2000 au titre de la Directive Oiseaux</p>
<ul>
  @for(site of oiseaux; track site){
  <li>{{ site.name }} - <a [href]="site.link" target="_blank">{{ site.link }}</a></li>
  }
</ul>
}

@if(habitats.length > 0){
<p>Sites Natura 2000 au titre de la Directive Habitats</p>
<ul>
  @for(site of habitats; track site){
  <li>{{ site.name }} - <a [href]="site.link" target="_blank">{{ site.link }}</a></li>
  }
</ul>
}

@if(znieffs.length > 0){
<p>Sites ZNIEFF Type 1</p>
<ul>
  @for(site of znieffs; track site){
  <li>{{ site.name }} - <a [href]="site.link" target="_blank">{{ site.link }}</a></li>
  }
</ul>
}

@if(znieffsType2.length > 0){
<p>Sites ZNIEFF Type 2</p>
<ul>
  @for(site of znieffsType2; track site){
  <li>{{ site.name }} - <a [href]="site.link" target="_blank">{{ site.link }}</a></li>
  }
</ul>
}