<h3 class="fr-h6">Votre forêt se trouve sur les sites suivants</h3>

<ul>
  @for (site of sites; track site) {
  <li>
    @if (site.link) {
    <a *ngIf="site.link" [href]="site.link" target="_blank">{{ site.name }}</a> -
    } @else {
    {{ site.name }} -
    }
    @if (site.layer === 'sic') {
    Site Natura 2000 Oiseaux
    }
    @if (site.layer === 'zps') {
    Site Natura 2000 Habitats
    }
    @if (site.layer === 'prairies_sensibles') {
    Zone Natura 2000 prairies et pâturages
    }
    @if (site.layer === 'znieff1') {
    Site ZNIEFF2 type 1
    }
    @if (site.layer === 'znieff2') {
    Site ZNIEFF2 type 2
    }
    @if (site.prairiesCount) {
    - {{ site.prairiesCount }} prairies
    }
  </li>
  }
</ul>