<div *ngIf="breadcrumb" class="fr-container">
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
</div>

<div class="fr-container">

  <h1>
    Votre forêt
    @if (foret && foret.name) {
      <span> - {{ foret.name }}</span>
    }
  </h1>

  <app-requete-stepper [step]="step"></app-requete-stepper>

  <app-requete-stepper-control [step]="step" (previous)="previousStep()"
    (next)="nextStep()" (save)="saveForet()"></app-requete-stepper-control>

<div *ngIf="step === 0" class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
  <div class="fr-col-12 fr-col-lg-4">
    <app-geolocalise-form (select)="confirmSelect()"></app-geolocalise-form>
  </div>
  <div class="fr-col-12 fr-col-lg-6">
    <div class="fr-upload-group">
      <label class="fr-label" for="upload-id-contour">
        Importation de contour 
        <span class="fr-hint-text">Indication : taille maximale : 10 Mo. Format supporté : zip(geojsons/shapefile), shapefile, geojsons.</span>
      </label>
      <input 
        class="fr-upload" 
        aria-describedby="upload-id-messages-contour" 
        multiple
        type="file" 
        id="upload-id-contour" 
        name="uploadcontour" 
        (change)="uploadContour($event)">
      <div class="fr-messages-group" id="upload-id-messages" aria-live="polite">
        <p 
          class="fr-message fr-message--error" 
          id="upload-id-message-error" 
          *ngIf="fileFormatError">
          Format de fichier non supporté. Format supporté zips/geojsons/shapefile(shp, prj, shx, dbf).
        </p>
      </div>
    </div>
  </div>
</div>








  <div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col-12" [class.fr-col-lg-12]="step === 0" [class.fr-col-lg-6]="step !== 0">
      @if (step === 0) {
        <p class="fr-label">Dessiner, sur la carte ci-dessous, le périmètre de la forêt ou des parcelles à l'aide de l'outil de dessin (polygon)</p>
        <p class="fr-hint-text">Changer de fond de carte (PLAN IGN / ORTHOPHOTOS) avec l'outil de sélection de couche</p>
      }
      <app-map-viewer></app-map-viewer>
    </div>

    <div class="fr-col-12 fr-col-lg-6">
      <app-thematic-tabs *ngIf="step === 1"></app-thematic-tabs>
      <app-requete-export-list *ngIf="step === 2"></app-requete-export-list>
    </div>

  </div>

  <!-- <div class="fr-mt-4v">
    <app-requete-stepper-control [step]="step" (previous)="previousStep()"
      (next)="nextStep()"></app-requete-stepper-control>
  </div> -->
</div>